bin/
dist/
build/
.theos/
packages/
.DS_Store
*.deb
*.dSYM
*.pcap
*.h264
*.png
*.log
config.json
certs/
!assets/icons/*.png
!assets/icons/flat/*.png
!device/resources/AppIcon*.png
!layout/icon.png
!plugins/jb-p1lot/bin/
!plugins/jb-p1lot/bin/*
